.amenity-modal-title {
  color: #484848;
  padding-bottom: 30px;
}

.amenity-modal-list {

}

.amenity-modal-item {
  color: #484848;
  font-size: 14px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid rgb(209, 208, 208);
}