.dropdown-container {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid rgb(214, 213, 213);
  min-width: 250px;
  float: left;
  right: -23px;
  margin-top: 20px;
}

.dropdown-list {
}

.dropdown-item {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #747474;
  font-size: 15px;
  border-bottom: 1px solid rgb(194, 194, 194);
  width: 75%;
  margin-left: 15px;
}

.dropdown-item:hover {
  cursor: pointer;
  color: teal;
  border-bottom: 1px solid #484848;
  // text-decoration: underline solid gray;
}

.dropdown-item:focus {
  outline: none;
}

.logout-button {
  background: transparent;
  border: none;
  color: #747474;
  font-size: 15px;
  padding: 0 0 0 0;
  width: 100%;
  text-align: left;
}

.logout-button:hover {
  cursor: pointer;
}

.logout-button:focus {
  outline: none;
}