.nav-splash {
  z-index: 1;
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 9;
}

.session-button {   // .session-button
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin-top: 10px;
}

.session-button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}


// MAKE THIS A DROPDOWN FEATURE

.header-logout {
  background-color: transparent;
  border: none;
  color: white;
}

.header-logout:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.nav-splash .nav-logo {
  margin-left: 12px;
}