.nav-normal {
  position: relative;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.session-button-normal {   // .session-button
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #484848;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

.session-button-normal:hover {
  border-bottom: 1px solid #484848;
  cursor: pointer;
}


// MAKE THIS A DROPDOWN FEATURE

.header-logout-normal {
  background-color: transparent;
  border: none;
  color: white;
}

.header-logout-normal:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}