.session-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  float: right;
}

.session-button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}