// .login-signup {
//   margin: 30px 0;
// }

.session-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  float: right;

}

.session-button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.header-user {
  margin: 0 0 0 0;
}