
.login-signup {
  margin-top: 13px;
}

.session-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

.session-button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.header-user {
  margin: 0 0 0 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-logo {
  width: 30px;
  height: 30px;
  background-image: image_url('favicon/airbnb_icon.png');
  background-size: 30px 30px;
}
