* {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  width: 400px;
  // border-radius: 3px;
}

.login-message {
  font-size: 23px;
  text-align: center;
  color: #484848;
  margin-bottom: 25px;
}

// .close-button {
//   float: left;
//   font-size: 35px;
//   color: black;
//   cursor: pointer;
// }

.close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #484848;
  // color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 35px;
}

// .topright {
//   position: absolute;
//   right: 0;
//   top: 0
// }

.topleft {
  position: absolute;
  left: 0;
  top: 0;
}

// .session-input {
//   box-sizing: border-box;
//   width: 100%;
//   border: 1px solid rgb(211, 209, 209);
//   font-size: 16px;
//   padding: 10px;
//   border-radius: 3px;
//   color: #484848;
// }

// .session-input:focus {
//   border: 1px solid #008489;
//   outline: none;
// }

.session-input {
  outline: none;
  width: 100%;
  height: 100%;
  // border: none;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
  color: #484848;
  font-size: 16px;
  // padding: 3px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-label {
  box-sizing: border-box;
  width: 100%;
  // border: 1px solid rgb(211, 209, 209);
  font-size: 16px;
  // padding: 10px;
  border-radius: 3px;
  color: #484848;
}

.session-input:focus {
  border: 1px solid #008489;
  outline: none;
}

// .input-label:focus {
//   border: 1px solid #008489;
//   outline: none;
// }

.other-form {
  background-color: transparent;
  color: #008489;
  border-style: none;
  font-size: 15px;
}

.other-form:hover {
  border-bottom: 1px solid #008489;
  cursor: pointer;
}

.bottom-text {
  border-top: 1px solid rgb(192, 189, 189);
  margin-bottom: 0;
  font-size: 15px;
  color: #484848;
  padding-top: 15px;
  text-align: left;
}

.session-submit {
  background-color: #ff5a5f;
  color: white;
  border-style: none;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.session-submit:hover {
  cursor: pointer;
  background-color: white;
  color: #ff5a5f; 
}

.demo-login {
  background-color: transparent;
  color:#008489;
  border-style: none;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.demo-login:hover {
  cursor: pointer;
  border-bottom: 1px solid #008489;
}

.modal-form label, input {
  display: block;
  // display: inline-block;
  // display: inline-flex;
}

.modal-form label {
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.red-border {
  border: 1px solid red;
}

.error-box {
  padding: 0 0 0 0;
}

.backend-errors {
  list-style: none;
  border: 1px solid rgb(192, 189, 189);
  border-radius: 3px;
  margin: 0 auto;
  font-size: 14px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

// #tiny-icon {
//   position: absolute;
//   color: gray;
//   display: inline-flex;
//   right: 200px;
// }

.input-label {
  display: flex;
  justify-content: space-between;
}

.far {
  color: rgb(161, 161, 161);
  position: absolute;
  left: 419px;
  margin-top: 21px;
}

.fas {
  color: rgb(161, 161, 161);
  position: absolute;
  left: 419px;
  margin-top: 21px;
}