// li {
//   list-style: decimal;
// }
.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-list {
  overflow-y: scroll;
  height: 300px;
  width: 400px;
  border: solid gray 1px;
}
// .load-button {
//   position: absolute;
//   top: 5px;
//   right: 5px;
// }

.message-form-container {
  width: 100%;
}

.message-form-input {
  width: 100%;
}

.message-form-input:hover {
  border: 1px solid #008489;
}

.message-form-input:focus {
  outline: none;
}