.main-booking-info {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 20%;
}

.booking-index-item-content-container {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(182, 181, 181);
  margin-bottom: 20px;
}

.booking-index-item-content-container:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.13);
  cursor: pointer;
}

.upcoming-plans {
  color: #484848;
  font-size: 30px;
}

.booking-index-info {
  padding-bottom: 30px;
}

.booking-index-text {
  color: #484848;
  font-size: 16px;
  padding-top: 10px;
}

.booking-item-dates {
  color: #484848;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: normal;
}

.booking-index-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
}

.button-container button {
  background: transparent;
  font-size: 14px;
  padding: 10px;
  color: #484848;
  border: 1px solid lightgray;
  margin-left: 10px;
}

.button-container button:hover {
  cursor: pointer;
  // color: #008489;
  border: 1px solid #008489;
  // transition: transform 0.5s;
  // transform: scale(1.04);
}

.button-container button:focus {
  outline: none;
}


// .cancel-booking-button {
//   background: transparent;
//   font-size: 14px;
//   padding: 10px;
//   color: #484848;
//   border: 1px solid lightgray;
// }

// .cancel-booking-button:hover {
//   cursor: pointer;
//   // color: #008489;
//   border: 1px solid #008489;
//   transition: transform 0.5s;
//   transform: scale(1.04);
// }

// .cancel-booking-button:focus {
//   outline: none;
// }
